.cart-page-wrapper {
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
}

.cart-page-wrapper .cart-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(241, 241, 237);
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 60px;
}

.cart-page-wrapper img {
    width: 200px;
    margin-right: 5px;
    border-radius: 60px;
}

.cart-page-wrapper img:hover {
    border: 10px solid rgb(209, 209, 197);
}

.checkout-btn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(209, 209, 197);
    align-items: center;
    width:fit-content;
    font-size: large;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 60px;
    padding: 20px;
    border: none;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: rgb(241, 241, 237);
    border: 5px solid rgb(209, 209, 197);
}

#empty-img {
    width: 400px;
    margin-top: 20px;
}

@media (max-width: 700px) {
    .cart-page-wrapper img {
        width: 100px;
    }
}

@media (max-width: 600px) {
    .cart-page-wrapper img {
        width: 70px;
    }
    #empty-img {
        width: 90%;
    }
}

@media (max-width: 450px) {
    .cart-page-wrapper img {
        width: 50px;
    }
}


