.shop {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(241, 241, 237);
    padding: 30px;
    border-radius: 60px;
}

.shop select {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}
