.user {
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
}

.user .email, .user .hello-msg {
    text-align: center;
    background-color: rgb(209, 209, 197);
    margin: 0;
    padding: 20px;
}

.user .hello-msg {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.user .email {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}


.user .order-header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}

.user img {
    width: 200px;
    margin-top: 10px;
    border-radius: 60px;
}

.user section {
    width: 90%;
    margin: 0 auto;
}

.user .order-items {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.user .previous-order {
    margin-top: 30px;
}

.user .order-details:nth-of-type(odd) {
    background-color: rgb(241, 241, 237);
}

.user .order-details:nth-of-type(even) {
    background-color: rgb(209, 209, 197);
}

.user .order-details {
    padding-bottom: 40px;
    padding-top: 30px;
    width: 90%;
    margin: 0 auto;
    border-radius: 60px;
    margin-bottom: 30px;
}

#empty-img:hover {
    border: 10px solid rgb(209, 209, 197);
}

@media (max-width: 700px) {
    .user img {
        width: 100px;
    }
}

@media (max-width: 600px) {
    .user img {
        width: 70px;
    }
    #empty-img {
        width: 150px;
    }
}

@media (max-width: 450px) {
    .user img {
        width: 50px;
    }
    .user {
        font-size: smaller;
    }
}