.collections-wrapper {
    max-width: 1500px;
    margin: 0 auto;
}

#collection-large {
    display: none;
}

.shop-now {
    background-color: rgb(209, 209, 197);
    padding: 10px;
    border-radius: 60px;
}

.shop-now:hover{
    border: 5px solid rgb(209, 209, 197);
    background-color: rgb(241, 241, 237);
}

.collections article {
    background-color: rgb(241, 241, 237);
    padding: 20px;
    border-radius: 60px;
}

article h2 {
    margin-bottom: 0;
}

.collections {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.collections img {
    width: 100%;
    border-radius: 60px;
}

.collections img:hover {
    border: 10px solid  rgb(209, 209, 197);
}

.collections article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .collection-description {
        font-size: small;
    }
    .collections {
        width: 90%;
    }
}

@media (max-width: 700px) {
    .collections article {
        margin-top: 40px;
    }
}

@media (min-width: 700px) {
    #collection-large{
        display: grid;
    }
    .collections {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 70%;
        max-width: 1500px;
        margin: 0 auto;
        gap: 30px;
        margin-top: 30px;
    }
    #collection-mob {
        display: none;
    }
}
