.footer {
    text-align: center;
    padding: 5px;
    background-color: rgb(84, 83, 66);
    color: white;
    letter-spacing: 2px;
    font-size: small;
    margin-top: 50px;
}

.bottom {
    text-align: center;
}

.bottom img {
    width: 200px;
    margin-top: 50px;
    
}


