.items-list img {
    width: 100%;
    margin-top: 20px;
    border-radius: 60px;
}

.items-list img:hover {
    border: 10px solid rgb(209, 209, 197);
    
}

.items-list div {
    display: flex;
    justify-content: space-between;
}

.items-list .product-details {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.items-list h4, h5 {
    margin: 10px;
}

.items-list button {
    background: none;
    border: none
}

.items-list button:hover {
    border: 1px solid black;
    text-align: right;
}

@media (min-width: 500px) {
    .items-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin: 0 auto;
        margin-top: 50px;
    }
}

@media (min-width: 800px) {
    .items-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .items-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}