.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.navbar a {
    margin: 15px;
    text-align: center;
}

.navbar a:hover {
    color: rgb(209, 209, 197);
}

.dropdown {
    display: none;
}

.logout-btn{
    border: none;
    background: none;
    font-size: 17px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (max-width: 820px) {
    .navbar {
        display: none;
    }

    .dropbtn {
        padding: 10px;
        font-size: 16px;
        border: none;
        width: 100%;
        background-color: white;
    }
  
    .dropdown {
        width: 100%;
        position: relative;
        display: flex;
    }

    .dropdown-content {
        text-align: center;
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        top: 40px;
        background-color: rgb(209, 209, 197);
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {
        background-color: rgb(241, 241, 237);
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown:hover .dropbtn {
        background-color: rgb(241, 241, 237);
    }
}

